@page
@model UsedCars.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>About</h1>
<p>
    Add Link add Pages/Shared/_Layout.cshtml
    --> Nav bar add &lt;li ..... &gt;
</p>

@section OptionalSection {
    <div>OptionalSection text</div>
}